body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#feedback {
  position: absolute;
  top: 23px; /* eye-balled to be aligned with h1 center */
  right: 16px;
  font-size: 1.3em;
  text-decoration: none;
  color: black;
  padding: 4px 8px;
  border: 1px solid white;
}

#feedback:hover {
  border: 1px solid lightgray;
}

/*
https://github.com/tachyons-css/tachyons-flexbox
http://tachyons.io/docs/
*/
.f7 {
  font-size: 0.75rem;
}
.mt1 {
  margin-top: 0.25rem;
}
.mt2 {
  margin-top: 0.5rem;
}
.mt3 {
  margin-top: 1rem;
}
.mb6 {
  margin-bottom: 2rem;
}

.pa1 {
  padding: 4px;
}

.mr2 {
  margin-right: 0.5rem;
}
.mr3 {
  margin-right: 1rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.selected-img {
  border: 1px solid lightskyblue;
}

.img-wrapper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-wrapper {
  position: relative;
}

.img-wrapper > img {
  object-fit: scale-down;
  max-width: 95vw;
}

.nav-icon-left {
  position: absolute;
  left: -16px;
  top: calc(50% - 24px);
}

.nav-icon-right {
  position: absolute;
  right: -16px;
  top: calc(50% - 24px);
}

a.for-nav-icon {
  display: flex;

  text-decoration: none;
  font-size: 0px;
  justify-content: center;
  align-items: center;

  fill: gray;
  width: 40px;
  height: 40px;

  border-radius: 24px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}

a.for-nav-icon:hover {
  fill: #555;
  background-color: hsl(0, 0%, 95%);
}

.nav-icon {
  width: 24px;
  height: 24px;
  pointer-events: none;
  display: block;
}

/* https://codepen.io/nw/pen/udkIB */
.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;

  background-color: #4cc713;
  color: white;

  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
}

.buttonDownload:hover {
  background-color: #358b0d;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;

  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;

  animation: downloadArrow 2s linear infinite;
  animation-play-state: paused;
}

.ib {
  display: inline-block;
}

.buttonDownload:hover:before {
  border-color: #4cc713;
}

.buttonDownload:hover:after {
  border-top-color: #4cc713;
  animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
  /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}
