<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="always">
  <meta name="robots" content="noindex">

  <link href="/css/main.css" rel="stylesheet">
  <link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">

  <title>All articles</title>
  <style>
    #arc {
      border-collapse: collapse;
      margin-top: 12px;
    }

    #arc th {
      padding: 0 1.75em 0 0;
      vertical-align: baseline;
      text-align: right;
    }

    .year th {
      color: black;
    }
  </style>

</head>

<body>
  <div id="content" style="clear:both;line-height:1.50; margin-top: 18px; margin-left: 18pt; margin-right: 18pt;">

    <p><a href="/">Home</a> / {{.PostsCount}} articles {{if .Tag}}tagged with '{{.Tag}}'{{end}}</p>

    <div
      style="float: right; margin-right: 12px; margin-left: 12px; font-size: 80%; border: 1px solid #CCC; padding: 6px 12px;">
      <div class="sidebarhdr">Topics:</div>
      <div style="max-width:180px">
        <span id="tagCloud">
          {{range .Tags}}
          <span class="nowrap">
            <a href="{{.URL}}">{{.Name}}</a>
            <span class="light">{{.Count}}</span>
          </span>
          {{end}}
        </span>
      </div>
    </div>

    <table id="arc">
      {{range .Years}}
      <tr class="year">
        <th colspan="2" style="text-align: left">{{ .Name }}</th>
      </tr>
      {{range .Articles}}
      <tr>
        <td
          style="color:gray; text-align:right; vertical-align: middle; font-size:80%; padding-right:8px; padding-left:8px"
          nowrap>{{ .DisplayMonth }}</td>
        <td style="padding-top:2px">
          <a href="{{.URL}}">{{.DisplayTitle}}</a>
          {{if .TagsDisplay}}
          <span style="font-size:80%">
            <span class="taglink">in:</span> {{.TagsDisplay}}
          </span>
          {{end}}
        </td>
      </tr>
      {{end}}
      {{end}}
    </table>
    <br>

  </div>
  <p style="clear:both"></p>
  <br>
  <hr>
  <center><a href="/">Krzysztof Kowalczyk</a></center>
  <br>
  {{template "analytics.tmpl.html" .}}

</body>

</html>